<!DOCTYPE html>
<html lang="en">

<head>
    <title>Badges</title>
</head>

<body>
    <h1>Badges</h1>
    <h2>Releases</h2>
{{ range .Releases }}<div><img src="releases/{{ . }}.svg" /> <a href="https://github.com/siakhooi/{{.}}">https://github.com/siakhooi/{{.}}</a></div>
{{ end }}
<SCRIPT SRC="https://hit-tztugwlsja-uc.a.run.app/?counter=ghio-badges&outputtype=javascript"></script>
<div class="WebCounter">Visitor: [<span id="PageWebCounter"></span>]</div>
<script>
    document.getElementById('PageWebCounter').innerText = LANGKASUKA_WEBCOUNTER.count;
</script>

</body>

</html>
